*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s all ease;
}

.navigation{ 
    position: fixed;
    background-color: #ffffff50;
    backdrop-filter: blur(5px); 
}

.navigation ul li a{
    position: relative;
    padding: 5px;
}

.navigation ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.015px;
    background: #ef2639;
    transition: width 0.3s;
}

.up:hover{
    scale: 1.05; 
}

.light:hover{
    scale: 1.02; 
    box-shadow: 0 0 10px ef2639;
    border: 1px solid ef2639;
    outline: 1px solid ef2639;
}

.navigation ul li .nav-link:hover {
    color: #ef2639;
    font-weight: 500;
}

.navigation ul li a:hover::after{
    width: 100%;
}

.navigation.scrolled{ 
    background-color: #ffffff80;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #00000010;
    z-index: 100;
}

.heading{
    font-family: 'Playful Display', serif;
    font-weight: 700;
}

.line-divider{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100px;
    background: linear-gradient(to top, #ff000010, #ff0000, #ff000010);
    animation: bounce 2s infinite;
}


@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

.hero{
    background-image: linear-gradient(to top, #00000000, transparent), url('images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,minmax(auto,1fr));
}

@media (max-width: 1050px) {
    .wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
}

.partners{
    background-color: rgb(244, 237, 218);
}

.ad-wrapper{
    white-space: nowrap;
    display: inline-flex; 
    animation: scroll 70s linear infinite;
}

@keyframes scroll{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}

.animate{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.animate.show{
    opacity: 1;
    transform: translateY(0);
}