*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s all ease;
}

.navigation{ 
    background-color: #ffffff50;
}

.navigation.scrolled{
    background-color: #ffffff80;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #00000010;
    z-index: 10;
}

.heading{
    font-family: 'Playful Display', serif;
    font-weight: 700;
}

.line-divider{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100px;
    background: linear-gradient(to top, #ff000010, #ff0000, #ff000010);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

.hero{
    background-image: linear-gradient(to top, #00000005, transparent), url('images/hero-bg.jpg');
}